# Use python version 3.9.21 !!!!!!

rasa
openai == 0.28
requests
python-dotenv
newsapi-python
newspaper3k

# These two require a mannual installation
# Dbias
# "en_pipeline @ https://huggingface.co/d4data/en_pipeline/resolve/main/en_pipeline-any-py3-none-any.whl"
